@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


html {
    height: 100%;
    padding: 5vh 0 0;
    background:  repeat url('./img/newzyro.gif') center center fixed;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    align-items: center;    
    text-align: center;
    overflow: hidden;

}

html::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
    backdrop-filter: blur(5px);

}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 0 2vh;
    display: block;
    width: 75%;
}

hr  {
    margin: 0;
}

.container {
    color: white;
    border: 1px solid white;

}

.top-container {
    display: flex;
    margin: 0;
    padding: 0;

}

.top-container div {
    padding: 10px;
}

.welcome-container{
    display: flex;
    flex-direction: row;
}

.welcome-container img {
    height: 15vw;
    width: 15vw;
    margin: 5px;
    border: 2px solid gray;
}

.music-container{
    width: 35%;
    border-left: 1px solid white;

}

.music-container * {
    padding: 0;
}


.gallery {
    display: block;
    align-items: center;
}


.gallery img {
    height: 15vw;
    width: 15vw;
}


@media (max-width: 1024px) {
    html {
        overflow:scroll;
        margin: 5vh;
    }

    .top-container {
        display: block;
    }

    .welcome-container img {
        height: 238px;
        width: 238px;
    }

    .music-container {
        width: auto;
        border: 0;
        border-top: 1px solid white;
    }
    .gallery img {
        height: 15vw;
        width: 15vw;
    }
}

@media (max-width: 768px) { 
    .welcome-container {
        display: block;
    }
}