[submodule "RESATURATED"]
	path = RESATURATED
	url = https://github.com/AKGamerTech/ANWC-Resaturated
[submodule "NewZyro_Games"]
	path = NewZyro_Games
	url = https://github.com/AKGamerTech/NewZyro_Games
[submodule "RESATURATED-Old"]
	path = RESATURATED-Old
	url = https://github.com/AKGamerTech/ANWC-Resaturated-Old
[submodule "Links-List"]
	path = Links-List
	url = https://github.com/AKGamerTech/Links-List
