html,
body {
  background-color:rgb(58, 16, 120);
  background: radial-gradient(
      circle,
      #7C00FE 0%,
      #4E31AA 50%,
      #3A1078 100%
    )
    center center / cover no-repeat fixed;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;

  font-weight: bolder;
  align-content: center;
  justify-content: center;
  font-size: xx-large;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.Background-Container {
  display: flex;
  margin: 0% 10%;
  border-radius: 2vb;
  background-color: rgba(58, 16, 120,0.3);
  align-self: center;
  justify-self: center;
  .Global-Container {
    backdrop-filter: blur(20px);
    border-radius: 2vb;
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    background-clip: padding-box;
    align-content: center;
    justify-content: center;
    padding: 5vb;
    .Links-Container {
      background-color: #3A1078;
      border-radius: 2vb;
      .Links-Tittle {
        color: white;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-content: center;
        
        p {
          margin: 2vb 0 0 0;

          img{
            translate:(0 5px);
            object-fit: contain;
            width: 4vb;
            height: 4vb;
          }
        }
      }
      .Links-Item {
        backdrop-filter: blur(20px);
        display: flex;
        grid-auto-flow: column;
        align-items: center; /* Aligns items vertically center */
        border: solid;
        border-radius: 2vb;
        background-color: rgba(0, 34, 77, 0.6);
        gap: 10px;
        margin: 2vb;
        transition: all 0.3s ease-in-out;
        border-color: #4E31AA;

        .Links-Img {
          display: flex;
          justify-content: left;
          align-items: center;
          img {
            object-fit: contain;
            width: 4vb;
            margin: 1vb;
            height: 4vb;
          }
        }

        .Links-Text {
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: center;
          p {
            color: white;
            text-align: center;
            margin: 0 2vb 0 0;
          }
        }
      }
      .Links-Item:hover {
        background-color: #7C00FE;
      }
    }
    .Youtube {
      background-color: rgba(150, 0, 0, 1);
      .Links-Item{
        border-color: rgba(255, 0, 0, 1);
      }
      .Links-Item:hover {
        background-color: rgba(150, 0, 0, 0.3);
      }
    }

    .Instagram {
      background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
    }
    .Project{
        img{
            border-radius: 10px;
        }
    }
  }
}

a{
    text-decoration: none;
}

@media (max-width: 1024px) {
  body {
    font-size: x-large;
  }
  .Background-Container {
    margin: 5% 15%;
  }
  .Links-Container{
    font-size: xx-large;
    width: 70%;
    justify-content: left;
    text-align: left;
  }
}

@media (max-width: 768px) {
  body {
    font-size: large !important;
  }
  .Background-Container {
    margin: 0 15%;
  }
  .Links-Container{
    font-size: x-large;
    width: 100%;
    justify-content: left;
    text-align: left;
  }
}

@media (max-width: 480px) {
  body {
    font-size: large !important;
    
  }

  .Background-Container {
    margin: 0;
  }
  .Links-Container{
    font-size: x-large;
    width: 100%;
    justify-content: left;
    text-align: left;
  }
}
